#blogmark-button { 
  list-style-image: url("chrome://blogmark/skin/icon-big.png"); 
  -moz-image-region: rect(0px 24px 24px 0px);  
}

#blogmark-button:hover {
  -moz-image-region: rect(24px 24px 48px 0px);
}

#blogmark-button[disabled="true"] { 
  -moz-image-region: rect(48px 24px 72px 0px);
}

toolbar[iconsize="small"] #blogmark-button {
  list-style-image: url("chrome://blogmark/skin/icon-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}
toolbar[iconsize="small"] #blogmark-button:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}
toolbar[iconsize="small"] #blogmark-button[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px);
} 
