@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#blogmark-button-public {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(0px 24px 24px 0px);
}

#blogmark-button-public:hover {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(0px 48px 24px 24px);
}

toolbar[iconsize="small"] #blogmark-button-public {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(0px 64px 16px 48px);
}

toolbar[iconsize="small"] #blogmark-button-public:hover {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(0px 80px 16px 64px);
}



#blogmark-button-my {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(24px 24px 48px 0px);
}

#blogmark-button-my:hover {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(24px 48px 48px 24px);
}

toolbar[iconsize="small"] #blogmark-button-my {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(24px 64px 40px 48px);
}

toolbar[iconsize="small"] #blogmark-button-my:hover {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(24px 80px 40px 64px);
}



#blogmark-button-add {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(48px 24px 72px 0px);
}

#blogmark-button-add:hover {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(48px 48px 72px 24px);
}

toolbar[iconsize="small"] #blogmark-button-add {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(48px 64px 64px 48px);
}

toolbar[iconsize="small"] #blogmark-button-add:hover {
  list-style-image: url("chrome://blogmark/skin/buttons.png") ; 
  -moz-image-region: rect(48px 80px 64px 64px);
}
